.badge{
    background-color: tomato;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    color: white;
    font-weight: 600;
    border-radius: 50%;
}