.nav{
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: #F9F9FA;
    padding: 20px 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(121, 121, 121, 0.300);
}
.nav__list{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.nav__a{
    position: relative;
    color: #2F363E;
}
.nav__notification{
    position: absolute;
    left: 15px;
    bottom: 15px;
}