.user-coponent,
.user-component__column:first-child{
    display: flex;
    align-items: center;
}
.user-coponent__avatar{
    width: 70px;
    height: 70px;
    border-radius: 30px;
    margin-right: 20px;
}
.user-coponent__title{
    font-size: 22px;
    font-weight: 600;
}
.user-component__subtitle{
    margin-top: 8px;
    color: rgba(0, 0, 0, 0.5);
}
.user-coponent__avatar--xl{
    width: 80px;
    height: 80px;
}