@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Yellowtail&display=swap');
@import "reset.css";
@import "variable.css";
/*coponents*/
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
/*screens*/
@import "screens/login.css";
@import "screens/friend.css";
@import "screens/find.css"
body{
    font-family: 'Yellowtail', cursive;
    font-family: 'Open Sans', sans-serif;
    color: #2F363E;
}
.main-screen{
    padding: 0px var(--horizontal-space);
}

