@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Yellowtail&display=swap');
@import "reset.css";
@import "variable.css";
/*coponents*/
@import "coponents/status-bar.css";
/*screens*/
@import "screens/login.css";
body{
    font-family: 'Yellowtail', cursive;
    font-family: 'Open Sans', sans-serif;
}

